/* select all elements */
*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
  }

/* style the background */ 

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgba(124, 234, 244, 0.667), rgb(248, 42, 244));
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 45px;
    border: 1px solid white;
    background-color: rgba(145, 166, 240, 0.8);
}

/* when hover */
.calculator > button:hover {
    background-color: white;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(106, 106, 247);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgb(201, 206, 206);
    font-size: 20px;
}

.current-operand {
    color: rgb(231, 232, 234);
    font-size: 30px;
}